services:
  keycloak:
    image: quay.io/keycloak/keycloak:latest
    environment:
      - KEYCLOAK_ADMIN=admin
      - KEYCLOAK_ADMIN_PASSWORD=admin
    ports:
      - "9090:8080"
    command: start-dev
  postgres:
    image: postgres:18-alpine
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=personal_expense_db
    ports:
      - "5432:5432"
    volumes:
      - data-volume:/var/lib/postgresql/data
  pgadmin:
    image: dpage/pgadmin4:latest
    environment:
        - PGADMIN_DEFAULT_EMAIL=vy@gmail.com
        - PGADMIN_DEFAULT_PASSWORD=123456
    ports:
      - "5050:80"
    depends_on:
      - postgres
volumes:
    data-volume: