server:
  port: 8080

spring:
  application:
    name: personal-expense-be

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database: postgresql

  datasource:
    url: jdbc:postgresql://localhost:5432/personal_expense_db
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver


  batch:
    job:
      enabled: false

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:9090/realms/my-realm
          jwk-set-uri: http://localhost:9090/realms/my-realm/protocol/openid-connect/certs

